@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* -------------- Universal -------------- */
* {
  box-sizing: border-box;
}

body {
  background-color: #d1d1d1;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
/* -------------- Button -------------- */
.btn {
  background-color: rgb(250, 206, 213);
  color: rgb(59, 59, 59);
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 12px 20px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.btn:focus {
  outline: none;
}
.btn:active {
  box-shadow: none;
  transform: translateY(3px);
}
/* -------------- Boxes -------------- */
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 500px;
  width: 500px;
  position: relative;
  transition: 0.4s ease;
}
.boxes.big {
  height: 600px;
  width: 600px;
}
.boxes.big .box {
  transform: rotateZ(360deg);
}
.box {
  background-image: url(./gif/giphy.gif);
  background-repeat: no-repeat;
  background-size: 500px 500px;
  position: relative;
  height: 125px;
  width: 125px;
  transition: 0.4s ease;
}
.box::after {
  content: "";
  background-color: rgba(255, 192, 203, 0.24);
  position: absolute;
  top: 8px;
  right: -15px;
  height: 100%;
  width: 15px;
  transform: skewY(45deg);
}
.box::before {
  content: "";
  background-color: rgba(255, 192, 203, 0.397);
  position: absolute;
  bottom: -15px;
  left: 8px;
  height: 15px;
  width: 100%;
  transform: skewX(45deg);
}
