/* Roboto font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* -------------- Universal -------------- */
:root {
  --bg-color: #0f0f0f;
  --btn-color: #aa8c2c;
  --nav-bar-color: #aaa;
  --nav-bar-items: #3c3c3c;
  --border-color: #403511;
}
* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
/* -------------- PHONE CLASS -------------- */
.phone {
  position: relative;
  overflow: hidden;
  border: 3px solid var(--border-color);
  border-radius: 15px;
  height: 37.5rem;
  width: 21.25rem;
}
.phone .content {
  opacity: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 60px);
  width: 100%;
  transition: opacity 0.4s ease;
}
.phone .content.show {
  opacity: 1;
}
/* -------------- NAV -------------- */
nav {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: -5px;
  width: 100%;
}
nav ul {
  background-color: var(--nav-bar-color);
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 60px;
}
nav li {
  color: var(--nav-bar-items);
  cursor: pointer;
  flex: 1;
  padding: 10px;
  text-align: center;
  justify-content: space-between;
}
nav ul li p {
  font-size: 12px;
  margin: 2px 0;
}
nav ul li:hover,
nav ul li.active {
  color: var(--btn-color);
}
/* -------------- ARIA -------------- */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
